

:root {
    --light-purple: hsl(252, 100%, 67%);
    --dark-purple: hsl(241, 81%, 54%);
}


body {
    width: 100vh;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px red solid;
    display: flex;
    justify-content: center;
    align-items: center;

}

.col-1,
.col-2 {
    width: 100%;
}

.col-1 {
    background-image: linear-gradient(var(--light-purple),var(--dark-purple));

}

p {
    border-radius: 5px;
    background-image: linear-gradient(to right, #ff575748, white);
    color: hsl(0, 100%, 67%);
    padding: 10px 14px
}

span {
    color: lightblue
}